.bg-primary-green {
  background-color: #00BFA5 !important;
}

.text-primary-green {
  color: #00BFA5 !important;
}

.border-primary-green {
  border-color: #00BFA5 !important;
}

.text-secondary-red {
  color: #E61236 !important;
}

.border-secondary-red {
  border-color: #E61236 !important;
}

.text-text-color {
  color: #37474F !important;
}

.text-grey-one {
  color: #757575 !important;
}

.border-grey-border {
  border-color: #D4D4D4 !important;
}

.bg-grey-background {
  background-color: #F5F5F5 !important;
}

.bg-white {
  background-color: #FFFFFF !important;
}

.text-white {
  color: #FFFFFF !important;
}

@font-face {
  font-family: "Vazir";
  src: url("/fonts/Vazir/Vazir-400.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Vazir";
  src: url("/fonts/Vazir/Vazir-500.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Vazir";
  src: url("/fonts/Vazir/Vazir-700.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

.p-8px {
  padding: 8px;
}

.pr-48px {
  padding-right: 48px;
}

.pr-80px {
  padding-right: 80px;
}

.pl-48px {
  padding-left: 48px;
}

.pl-80px {
  padding-left: 80px;
}

.mt-4px {
  margin-top: 4px;
}

.mr-20px {
  margin-right: 20px;
}

.mb-4px {
  margin-bottom: 4px;
}

.mb-36px {
  margin-bottom: 36px;
}

.mb-80px {
  margin-bottom: 80px;
}

.ml-5px {
  margin-left: 5px;
}

.ml-30px {
  margin-left: 30px;
}

.fs-14px {
  font-size: 14px;
}

.t-6px {
  top: 6px;
}

.l-8px {
  left: 8px;
}

@media (min-width: 576px) and (max-width: 767px) {
  .w-sm-32 {
    width: 32% !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .w-md-32 {
    width: 32% !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .w-lg-32 {
    width: 32% !important;
  }
}
@media (min-width: 1200px) {
  .w-xl-32 {
    width: 32% !important;
  }
}
@media (min-width: 1200px) {
  .w-xl-65 {
    width: 65% !important;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .w-sm-66 {
    width: 66% !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .w-md-66 {
    width: 66% !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .w-lg-66 {
    width: 66% !important;
  }
}
@media (min-width: 1200px) {
  .w-xl-66 {
    width: 66% !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .w-lg-70 {
    width: 70% !important;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .w-sm-75 {
    width: 75% !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .w-md-75 {
    width: 75% !important;
  }
}
.w-95 {
  width: 95%;
}
.w-100 {
  width: 100%;
}
.h-85 {
  height: 85%;
}
html {
  font-family: "Vazir";
}

input:focus {
  outline: none;
}

.border-solid {
  border-style: solid;
}

.loader {
  position: relative;
  width: 80px;
  height: 16px;
}

.dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  transform-origin: center;
}

.dot.middle {
  left: calc(50% - 8px);
  animation: middlePulse 1s ease-in-out infinite;
}

.dot.left {
  left: 0;
  animation: sidePulse 1s ease-in-out infinite;
}

.dot.right {
  right: 0;
  animation: sidePulse 1s ease-in-out infinite;
}

@keyframes middlePulse {
  0%, 100% {
    transform: scale(0.6);
  }
  50% {
    transform: scale(1.4);
  }
}
@keyframes sidePulse {
  0%, 100% {
    transform: scale(1.4);
  }
  50% {
    transform: scale(0.6);
  }
}
.disabled {
  cursor: not-allowed !important;
  opacity: 0.75;
}

.min-vh-75 {
  min-height: 75vh !important;
}

.footer-shadow {
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

input[type=radio] {
  appearance: none;
  width: 20px;
  height: 20px;
  outline: 2px solid #D4D4D4;
  border: 5px solid white;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}

input[type=radio]:checked {
  background-color: #00BFA5;
  outline-color: #00BFA5;
}
