@font-face {
  font-family: "Vazir";
  src: url("/fonts/Vazir/Vazir-400.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Vazir";
  src: url("/fonts/Vazir/Vazir-500.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Vazir";
  src: url("/fonts/Vazir/Vazir-700.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
html {
  font-family: "Vazir";
}
