.bg-primary-green {
  background-color: #00BFA5 !important;
}

.text-text-color {
  color: #37474F !important;
}

.bg-grey-background {
  background-color: #F5F5F5 !important;
}

.bg-white {
  background-color: #FFFFFF !important;
}

.text-white {
  color: #FFFFFF !important;
}

@font-face {
  font-family: "Vazir";
  src: url("/fonts/Vazir/Vazir-400.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Vazir";
  src: url("/fonts/Vazir/Vazir-500.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Vazir";
  src: url("/fonts/Vazir/Vazir-700.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

.pr-48px {
  padding-right: 48px;
}

.pl-48px {
  padding-left: 48px;
}

html {
  font-family: "Vazir";
}
